
#1services{


    margin: 2rem 9%;
    
    
    
    }

    section .services1 .container{
    
    display: flex;
    justify-content: center;
    }
    
    .bikeimg
    
    {
    
        width: 1px;
    }
    